html * {
    font-family: 'Courier New';
    
}

p{
    font-size: 19px;
}

body{
    display: grid;
    background-color: #698d7e;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

div[id="tabela"] p a{
    text-decoration: underline;
    color: blue;
}

@media (max-width:600px){
    /*Header*/

    div[id="header"] {
        margin: 0px;
        display: grid;
        grid-template-rows: auto auto auto;
        background-color: #698d7e;
        
    }

    img {
        grid-row-start: 1;
        grid-row-end: 2;
        max-height: 40px;
        min-width: 40px;
        margin-left: 5px;
        margin-top: 5px;
    }

    div[id="header"] li {
        float: left;
        margin-right: 30px;
        margin-bottom: 10px;
        border: 1px solid black;
        background-color: #d9d9d9;
        border-radius: 5px;
        padding: 5px;
    }

    div[id="header"] p {
        font-size: 20px;
        grid-row-start: 3;
        grid-row-end: 4;
        margin-left:10px;
    }
    div[id="header"] ul {
        grid-row-start: 2;
        grid-row-end: 3;
        text-decoration: underline;
        list-style: none;
        list-style-type: none;
        padding-left: 0px;
        margin-left: 10px
    }

    /*GLAVNISADZAJ*/

    label{
        margin-top:10px;
    }


    select{
        margin-top: 10px;
        border: 1px solid black;
        border-radius: 5px;
        min-width: 30%;
    }

    input{
        
        margin-bottom: 7px;
        border-radius: 5px;
        outline: none;
    }

    button{
        border: 1px solid black;
        border-radius: 5px;
    }

    button[id="dodaj"]{
        margin-bottom: 20px;
        margin-left: 30%;
        margin-top:10px;
        min-width: 100px;
    }

    div[id=glavniSadrzaj]{
        background-color: #d9d9d9;
        border: 1px solid black;
        border-radius: 10px;
        margin:auto;
        width: 100%;
    }

    

    div[id="glavniSadrzaj"] p{
        text-align: center;
        
        
    }

    div[id="glavniSadrzaj"] b{
        font-size: 19px;
        
        
    }

    div[id="glavniSadrzaj"] form{
        margin-left:20%
    }



    /*FOOTER*/

    div[id="footer"] {
        background-color: #698d7e;
    }

    div[id="footer"] p{
        font-size:20px;
        text-align:center;

    }
}


@media (min-width:600px){
    /*Header*/

    div[id="header"] {
        margin: 0;    
        background-color: #698d7e;
    }

    img {
        max-height: 50px;
        min-width: 50px;
        margin-left:10px;
        margin-top:10px;
    }

    div[id="header"] li {
        float: left;
        margin-right: 30px;
        margin-bottom: 10px;
        border: 1px solid black;
        background-color: #d9d9d9;
        border-radius: 5px;
        padding: 5px;
    }

    div[id="header"] li:hover{
        background-color: gray;
    }

    div[id="header"] li a {
        text-decoration: none;
        color: black;
    }

    div[id="header"] ul {
        text-decoration: underline;
        list-style: none;
        list-style-type: none;
        padding-left:0px;
        margin-left:10px; 
    }

    div[id="header"] a {
        font-size: 17px;
    }

    div[id="header"] p{
        position:absolute;
        right:20px;
        top:0px;
        font-size:30px;
    }

    
    /*GLAVNISADZAJ*/

    label{
        border-spacing: 10px;
    }

    select{
        margin-top: 10px;
        border: 1px solid black;
        border-radius: 5px;
        min-width: 30%;
    }

    input{
        
        margin-bottom: 7px;
        border-radius: 5px;
        outline: none;
    }

    button{
        border: 1px solid black;
        border-radius: 5px;
    }

    button[id="dodaj"]{
        margin-bottom: 20px;
        margin-left: 30%;
        margin-top: 10px;
        min-width: 100px;
       
    }

    div[id=glavniSadrzaj]{
        background-color: #d9d9d9;
        border: 1px solid black;
        border-radius: 10px;
        margin:auto;
        width: 85%;
    }

    div[id="glavniSadrzaj"] p{
        text-align: center;
    }

    div[id="glavniSadrzaj"] form{
        margin-left:20%
    }

    /*FOOTER*/

    div[id="footer"] {
        background-color: #698d7e;
    }

    div[id="footer"] p{
        font-size:20px;
        text-align:center;

    }
}